# Ignore VSCODE settings. 
*.vscode
__pycache__

#Ignore dataset

dataset/jester/*

# Ignore results
*.log

# Trained model checkpoints
*.pth

#ignore config.py
config.py
paths.py

#ignore results
results/*

